/* 左浮动 */

.float-left {
  float: left;
}

/* 有浮动 */

.float-right {
  float: right;
}

/* 清除浮动 */

.clear-fix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}

/*************显示隐藏*************/

/* 显示 */

.show {
  display: block;
}

/* 隐藏 */

.hide {
  display: none;
}

/*************盒子类型*************/

/* block */

.block {
  display: block;
}

/* inline */

.inline {
  display: inline;
}

/* inline-block */

.inline-block {
  display: inline-block;
}

/************** flex布局 **************/

/* 父元素 */

.flex-wrapper {
  display: flex;
}

/* 换行 */

.flex-wrap {
  flex-wrap: wrap;
}

/* 子元素 */

.flex-item {
  flex: 1;
}

/* 顺序从上到下 */

.flex-direction-column {
  flex-direction: column;
}

/* 顺序从左到右 */

.flex-direction-row {
  flex-direction: row;
}

/* 横向居中 */

.flex-row-center {
  justify-content: center;
}

/* 纵向居中 */

.flex-column-center {
  align-items: center;
}

/* 横向两边对齐，并且第一个元素前和最后一个元素后不留空白 */

.flex-space-between {
  justify-content: space-between;
}

/* 横向两边对齐，并且第一个元素前和最后一个元素后留有空白 */

.flex-space-around {
  justify-content: space-around;
}

/**************文字位置**************/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.overflowView{
  overflow: hidden;
}

/**************文字溢出省略号**************/

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**************文字2行溢出省略号**************/

.text-overflowTow {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
}

/**************文字溢出自动换行**************/

.text-wrap {
  word-wrap: break-word;
  word-break: normal;
}

/**************盒模型**************/

.border-box {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

.hide {
  display: none;
}
/* 禁止复制 */
.user-select-no {
  user-select: none;
}

/* 添加悬浮小手标志 */
.pointer {
  cursor: pointer;
}