:root
  --background-color $backgroundColor
  --box-shadow $boxShadow
  --box-shadow-hover $boxShadowHover
  --text-color $textColor
  --border-color $borderColor
  @media (prefers-color-scheme: dark)
    --background-color $backgroundColorDark
    --box-shadow $boxShadowDark
    --box-shadow-hover $boxShadowHoverDark
    --text-color $textColorDark
    --border-color $borderColorDark
