:root
  --background-color $backgroundColor
  --box-shadow $boxShadow
  --box-shadow-hover $boxShadowHover
  --text-color $textColor
  --border-color $borderColor
  --bgm-bg-color $bgmBgColor
  --code-color $codeColor
  --mask-color $maskColor
  @media (prefers-color-scheme: dark)
    --background-color $backgroundColorDark
    --box-shadow $boxShadowDark
    --box-shadow-hover $boxShadowHoverDark
    --text-color $textColorDark
    --border-color $borderColorDark
    --bgm-bg-color $bgmBgColorDark
    --code-color $codeColorDark
    --mask-color $maskColorDark
