$textShadow = 0 2px 4px rgba(0, 0, 0, 0.1);
$borderRadius = .25rem
$textColorSub = #888

$backgroundColor ?= #fff
$backgroundColorDark ?= #25272a

$boxShadow = 0 1px 6px 0 rgba(0, 0, 0, 0.2)
$boxShadowHover = 0 2px 16px 0 rgba(0, 0, 0, 0.2)
$boxShadowDark = 0 1px 6px 0 rgba(0, 0, 0, .9)
$boxShadowHoverDark = 0 2px 26px 0 rgba(0, 0, 0, .9)

$textColor ?= #2c3e50
$textColorDark ?= #aaa

$borderColor ?= #eaecef
$borderColorDark ?= rgba(0, 0, 0, .9)

$bgmBgColor ?= rgba(255, 255, 255, .7)
$bgmBgColorDark ?= rgba(0, 0, 0, .7)
