$textShadow = 0 2px 4px rgba(0, 0, 0, 0.1);
$borderRadius = .25rem
$lineNumbersWrapperWidth = 2.5rem
$textColorSub = #888

$backgroundColor ?= #fff
$backgroundColorDark ?= #25272a

$boxShadow = 0 1px 6px 0 rgba(0, 0, 0, 0.2)
$boxShadowHover = 0 2px 16px 0 rgba(0, 0, 0, 0.2)
$boxShadowDark = 0 1px 6px 0 rgba(0, 0, 0, .6)
$boxShadowHoverDark = 0 2px 16px 0 rgba(0, 0, 0, .6)

$textColor ?= #2c3e50
$textColorDark ?= #aaa

$borderColor ?= #eaecef
$borderColorDark ?= rgba(0, 0, 0, .3)

$codeColor ?= rgba(27, 31, 35, 0.05)
$codeColorDark ?= rgba(0, 0, 0, .3)

$bgmBgColor ?= rgba(255, 255, 255, .7)
$bgmBgColorDark ?= rgba(0, 0, 0, .7)

$maskColor ?= #888
$maskColorDark ?= #000
