:root {
	--background-color: #fff;
	--page-width: 70em;
	--primary-color: #151513;
	--font-color: #151513;
	--subtle-primary-color: #151513;
	--block-background-color: #f1f3f4;
	--menu-item-color: #000;
	--menu-item-hover-color: #000;
	--menu-item-alert-bg: #ffffff;
	--menu-item-alert-shadow: #dfe1e7;
	--alert-border-color: #dfe1e7;
	--tertiary-color:: #727680;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --page-width: 70em;
    --primary-color: #151513;
    --font-color: #151513;
    --subtle-primary-color: #151513;
    --block-background-color: #f1f3f4;
    --menu-item-color: #000;
    --menu-item-hover-color: #000;
    --menu-item-alert-bg: #ffffff;
    --menu-item-alert-shadow: #dfe1e7;
    --alert-border-color: #dfe1e7;
    --tertiary-color:: #727680;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1e1e;
    --primary-color: #157efb;
    --font-color: #dedede;
    --subtle-primary-color: #151513;
    --block-background-color: #323232;
    --menu-item-color: #dedede;
    --menu-item-hover-color: #157efb;
    --menu-item-alert-bg: #151513;
    --menu-item-alert-shadow: #151513;
    --alert-border-color: #000;
    --tertiary-color:: #727680;
  }
}
